<?php
  
$finder = PhpCsFixer\Finder::create()
    ->exclude('Resources')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
    ])
    ->setFinder($finder)
;
