<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
<!--
    <php>
        <server name="HTMLPURIFIER" value="../../htmlpurifier/library" />
        <server name="SYMFONY" value="../../symfony/src" />
        <server name="TWIG" value="../../twig/lib" />
    </php>
-->
    <testsuites>
        <testsuite name="ExerciseHTMLPurifierBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
